body {
  font-family: 'PingFang SC', 'Lantinghei SC', 'Microsoft YaHei', 'HanHei SC',
    'Helvetica Neue', 'Open Sans', Arial, 'Hiragino Sans GB', 微软雅黑, STHeiti,
    'WenQuanYi Micro Hei', SimSun, sans-serif;
  word-wrap: break-word;
  background: rgba(247, 246, 245);
}

.ellipsis-l1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(84, 64, 14, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(84, 64, 14, 0.2);
}
